@model MyProjectTravel.Models.User

@{
    ViewData["Title"] = "UpdateUsuario";
}


<h1>Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeDocument" class="control-label"></label>
                <input asp-for="typeDocument" class="form-control" />
                <span asp-validation-for="typeDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numDocument" class="control-label"></label>
                <input asp-for="numDocument" class="form-control" />
                <span asp-validation-for="numDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

